/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==========END OF CSS RESET========== */


/* ==== TYPOGRAPHY ==== */

@font-face {
  font-family: "Arcade";
  src: url(ARCADE_I.TTF) format("truetype");
}
@font-face {
  font-family: "Arcade N";
  src: url(ARCADE_N.TTF) format("truetype");
}
@font-face {
  font-family: "Arcade R";
  src: url(ARCADE_R.TTF) format("truetype");
}
@font-face {
  font-family: "Believer";
  src: url(BELIEVER.TTF) format("truetype");
}
@font-face {
  font-family: "Digitale";
  src: url(DIGITALE.TTF) format("truetype");
}
@font-face {
  font-family: "DS-TERM";
  src: url(DS-TERM.TTF) format("truetype");
}
html {
	font-family: 'Ubuntu mono';
}

#item1, #item2, #item3, #item4 {
	font-family: 'Arcade';
}
.title {
	font-family: 'Arcade R';
	font-size: 0.9em;
}

/* ==== MENU STYLES ==== */
@media only screen and (min-width: 960px) {
	li.item {
			font-size: 1.3em;
			padding: 0.2em;
			display: inline;
	    margin-right: 1em;
	    margin-left: 1em;
	}
}

@media only screen and (min-width: 640px) and (max-width: 959px) {
	li.item {
			font-size: 0.9em;
			padding: 0.2em;
			display: inline;
	    margin-right: 0.5em;
	    margin-left: 0.5em;
	}
}

@media only screen and (min-width: 400px) and (max-width: 639px) {
	li.item {
			font-size: 0.5em;
			padding: 0.1em;
			display: inline;
	    margin-right: 0.25em;
	    margin-left: 0.25em;
	}
}

@media only screen and (min-width: 321px) and (max-width: 399px) {
	li.item {
		font-size: 0.5em;
		padding: 0.4em;
		display: block;
    margin-right: 0.25em;
    margin-left: 0.25em;
	}
}

@media only screen and (max-width: 320px) {
	li.item {
		font-size: 1.25em;
		padding: 0.4em;
		display: block;
    margin-right: 0em;
    margin-left: 0em;
	}
}

.menu-bar {
	text-align: center;
	padding: 0.25em;
}

li.item {
	transition: color 0.5s, background-color 0.5s, box-shadow 0.5s;
}

li:hover.item {
	background-color: lime;
	color:black;
	box-shadow: 0px 0px 15px rgba(0,255,0,0.7);
}

.bordered-item {
	border-top: 1px solid lime;
	background-color: rgba(0,255,0,0.2);
}

#item1 {
}

#item2 {
}

#item3 {
}

#item4 {
}

.notvisible {
	display: none;
}

.paragraph-title {
	padding: 0.4em;
	margin-top: 0.4em;
	border-top: 1px solid rgba(0,255,0,0.3);
	background-color: rgba(0,255,0,0.1);
}

.paragraph {
	margin-top: 0.75em;
	margin-bottom: 1.25em;
	font-size: 16px;
	font-weight: 100;
	padding: 0.25em;
	/*background-color: rgba(0,255,0,0.1);*/
	border-radius: 3px;
	/*box-shadow: 3px 3px 3px rgba(0,255,0,0.1);*/
}

h2 {
	font-size: 20px;
}

h1 {
	font-size: 18px;
}

.content-pages {
	margin-top: 1em;
}

.content-pages h1 {
	background-color: lime;
	color: black;
}
/* ==== APP DEMOS ==== */

.demo-links {
	padding: 0.5em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.demo-links a {
	display: inherit;
	padding: 0.5em;
	margin-bottom: 0.5em;
	text-decoration: none;
	border: 1px solid lime;
	box-shadow: 3px 3px 3px rgba(0,255,0,0.4);
	transition: background-color 0.5s;
}

.demo-links a:hover {
	background-color: rgba(0,255,0,0.1);
}

.demo-links a:visited {
	color: lime;
}

.app-type {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 1px dashed rgba(0,255,0,0.4);
}

/* ==== Homegrown ==== */
.homegrown-menu-links a {
	text-decoration: none;
	color: lime;
}

.homegrown-menu-links {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	padding: 0.5em;
}

@media only screen and (min-width: 960px) {
	.homegrown-menu-links li {
		display: inline;

	}
}

@media only screen and (min-width: 640px) and (max-width: 959px) {
	.homegrown-menu-links li {
		display: inline;
	}
}

@media only screen and (min-width: 321px) and (max-width: 399px) {
	.homegrown-menu-links li {
		display: block;
	}
}

@media only screen and (max-width: 320px) {
	.homegrown-menu-links li {
		display: block;
	}
}

.homegrown-menu-links li {
	font-size: 1.2em;
	margin-right: 0.25em;
	margin-left: 0.25em;
	border: 1px solid lime;
	padding: 0.5em;
	transition: color 0.5s, background-color 0.5s;
	box-shadow: 3px 3px 3px rgba(0,255,0,0.4);
}

.homegrown-menu-links li:hover {
	background-color: rgba(0,255,0,0.1);
}

/* ==== Contacts ==== */

.social-media-links {
	margin-top: 3em;
}

@media only screen and (min-width: 960px) {
	.social-media-links li {
		display: inline;
		border: 1px solid lime;
		padding: 1.5em;
		transition: color 0.5s, background-color 0.5s;
	}
}

@media only screen and (min-width: 640px) and (max-width: 959px) {
	.social-media-links li {
		display: block;
		border: 1px solid lime;
		padding: 1.5em;
		transition: color 0.5s, background-color 0.5s;
	}
}

@media only screen and (min-width: 400px) and (max-width: 639px) {
	.social-media-links li {
		display: block;
		border: 1px solid lime;
		padding: 1.5em;
		transition: color 0.5s, background-color 0.5s;
	}
}

@media only screen and (min-width: 321px) and (max-width: 399px) {
	.social-media-links li {
		display: block;
		border: 1px solid lime;
		padding: 1.25em;
		transition: color 0.5s, background-color 0.5s;
	}
}

@media only screen and (max-width: 320px) {
	.social-media-links li {
		display: block;
		border: 1px solid lime;
		padding: 0.5em;
		transition: color 0.5s, background-color 0.5s;
	}
}

.social-media-links li {
	box-shadow: 3px 3px 3px rgba(0,255,0,0.4);
}

.social-media-links li:hover {
	background-color: rgba(0,255,0,0.1);
}

.social-media-links a {
	text-decoration: none;
	color: lime;
}

/* ==== Container ==== */
@media only screen and (min-width: 960px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}
}

@media only screen and (min-width: 640px) and (max-width: 959px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}
}

@media only screen and (min-width: 400px) and (max-width: 639px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}
}

@media only screen and (min-width: 321px) and (max-width: 399px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}
}

@media only screen and (max-width: 320px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}
}

/* ==== STYLE PROPERTIES ==== */

html {
	background-color: black;
	color: lime;
}


@media only screen and (min-width: 960px) {
	header { 
	    background-image: url('banner.JPG');
	    background-repeat: no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	    background-position: center top;
	}
	
	.bar-fade {
		background-color: rgba(0,0,0,0.8);
	}

	.title {
		display: block;
		margin-bottom: 10em;
	}

	.title h2 {
		font-size: 2em;
	}
}

@media only screen and (min-width: 640px) and (max-width: 959px) {
	header { 
	    background-image: url('banner.JPG');
	    background-repeat: no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	    background-position: center top;
	}
	
	.bar-fade {
		background-color: rgba(0,0,0,0.8);
	}

	.title {
		display: block;
		margin-bottom: 5em;
	}

	.title h2 {
		font-size: 2em;
	}
}

@media only screen and (min-width: 400px) and (max-width: 639px) {
	header { 
	    background-image: url('banner.JPG');
	    background-repeat: no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	    background-position: center top;
	}

	.bar-fade {
		background-color: rgba(0,0,0,0.8);
	}

	.title {
		display: block;
		margin-bottom: 2.5em;
	}

	.title h2 {
		font-size: 2em;
	}
}

@media only screen and (min-width: 321px) and (max-width: 399px) {
	header { 
	    background-image: url('banner.JPG');
	    background-repeat: no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	    background-position: center top;
	}
	
	.title {
		display: block;
	}
}

@media only screen and (max-width: 320px) {
	header { 
	    background-image: url('banner.JPG');
	    background-repeat: no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	    background-position: center top; 
	}
	
	.title {
		display: block;
	}
}

.title {
	text-align: center;
	background-color: rgba(0,255,0,0.1);
	box-shadow: 0px 0px 2px rgba(0,255,0,0.9);
}