/* CUSTOM CSS RESET BASED ON CSS RESET BY

	 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==========END OF CSS RESET========== */
	input {
		border: none;
	}
	textarea:focus, input:focus {
		outline: none;
	}
	button {
		border: none;
		outline: none;
	}
/* ==========END OF ADDED CSS RESET ========== */

/* ==== FONTS ==== */
	@font-face {
	  font-family: "Oranienbaum";
	  src: url(../fonts/Oranienbaum.ttf) format("truetype");
	}
	.oranienbaum {
		font-family: 'Oranienbaum';
	}
	@font-face {
		font-family: "SketchRockwell";
		src: url(../fonts/SketchRockwell-Bold.ttf);
	}
	.sketchrockwell {
		font-family: 'SketchRockwell';
	}
	@font-face {
		font-family: "Adam";
		src: url(../fonts/LiniLibertnie_Rah.ttf);
	}
	.libertine {
		font-family: 'Libertine';
	}
/* ==== GLOBALS ==== */
	body {
		font-family: 'Libertine';
		background-color: #e6e6e6;
		color: #464741;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	nav {
		margin: 1em;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1em;
	}

/* Re-usable */
	.item-margin {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.inline-block {
		display: inline-block;
	}
	.name-header {
		text-align: center;
		font-weight: 800;
	}
	.contacts-list {
		text-align: center;
		font-size: 2em;
		margin: auto;
		width: 100%;
	}
	.contacts-list i {
		margin: 0.5em 0.5em 0.5em 0.5em;
	}
	.basic-button {
		display: inline-block;
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		text-align: center;
		padding: 0.5em;
		border-radius: 2px;
		/* sublime grey */
			background-color: #66d9ef;
	}
	.basic-button a {
		/* sublime white */
			color: #f8f8f2;
	}
	.basic-section {
		padding-top: 2em;
		padding-bottom: 2em;
		border-bottom: 1px solid #8f908a;
	}
	.basic-unbordered-section {
		padding-top: 2em;
		padding-bottom: 2em;
	}
	.title-margin {
		margin-bottom: 0.5em;
	}
	.alternate-section {
		background-color: #e6e6e6;		
	}
	.centered {
		text-align: center;
	}
	.name-title {
		font-weight: 800;
	}

/* Basic styles */

	.deployments-wrapper {
		margin: auto;
		width: 90%;
		text-align: center;
	}
	.deployment-section {
		padding: 1em;
		text-align: center;
		display: inline-block;
		margin: auto;
	}
	.deployment-section img {
		width: 80%;
		margin: auto;
	}
	.deployment-title {
		margin: auto;
	}
	.deployment-info {
		margin: 0.5em 0 0.5em 0;
	}
	.deployment-info a {
		font-size: 2em;
	}
/* Elements */
	.info-wrapper {
		text-align: center;
		margin: auto;
	}
	.info-wrapper h1 {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	.bar-menu {
		font-size: 30px;
	}
/* ==== MENU MASK ==== */
	.masked {
		z-index: 100;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		position: fixed;
		background-color: rgba(102, 101, 99, 0.9);
	}
	nav {
		position: fixed;
	}
	#menu-options {
		position: absolute;
	}
	#menu-list {
		z-index: 300;
		position: fixed;
		top: 50%;
		left: 50%;
		height: 30%;
		width: 50%;
		margin: -15% 0 0 -25%;
		text-align: center;
	}
	#menu-list li {
		margin-bottom: 0.5em;
	}
	#menu-list li a {
		font-size: 2em;
		color: #e6e6e6;
	}
	#menu-list li a:hover {
		border-bottom: 1px solid #e6e6e6;
	}
	.notvisible {
		display: none;
	}
	.close-icon {
		text-align: center;
		margin: 1em 0 1em 0;
	}


/* Colours
	sublime green: #a3e22d;
	sublime aqua: #66d9ef;
	sublime white: #f8f8f2;
	sublime orange: #fd971f;
	sublime pink: #f92672;
	sublime yellow: #e6da61;
	sublime grey: #272822;
	sublime purple: #9281ff;
	sublime light grey: #8f908a;
	sublime dark grey: #464741;
	sublime off-white: #e6e6e6;
*/